<br />
<div class="row" *ngIf="statsObs$ | async; else loading">
  <div class="col-md-7">
    <home-summary></home-summary>
    <home-courses></home-courses>
    <home-quizzes></home-quizzes>
  </div>

  <div class="col-md-5">
    <div class="card mb-3">
      <div class="card-body">
        <apx-chart
          [series]="options.series"
          [chart]="options.chart"
          [xaxis]="options.xaxis"
          [stroke]="options.stroke"
          [dataLabels]="options.dataLabels"
          [yaxis]="options.yaxis"
          [labels]="options.labels"
          [legend]="options.legend"
          [title]="options.title"
          [subtitle]="options.subtitle"
        ></apx-chart>
      </div>
    </div>
    <home-billing></home-billing>
    <home-inbox></home-inbox>
  </div>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
