<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">StudentAdmin</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="" class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/courses']">Courses</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/quizzes']">Quizzes</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/product']">Product</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/test']">Coming soon</a>
        </li>
      </ul>

      <div class="navbar-nav" *ngIf="!(isLoggedIn$ | async)">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" (click)="onLogin()">Login</button>
        </div>
      </div>

      <div class="navbar-nav" *ngIf="isLoggedIn$ | async">
        <span class="pt-3 mr-2">Welcome back, {{ loginService.username }}</span>
        <button class="btn btn-default btn-sm" (click)="onLogout()">Log out</button>
      </div>
    </div>
  </div>
</nav>
