<br />
<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-body">Welcome back, {{username}}</div>
    </div>

    <br />

    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <span>Your courses</span>
          </div>
          <div class="col-md-2">
            <a href="/courses" class="btn btn-secondary btn-sm">View All</a>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let c of myCourses">
          <div class="row">
            <div class="col-md-7">
              <a href="/courses/{{c.courseUrl}}">{{c.courseName}}</a>
              <span class="tag tag-info">{{c.courseCompletion}}%</span>
            </div>
            <div class="col-md-5">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  [ngStyle]="{'width': c.courseCompletion + '%'}"
                  aria-valuenow="c.courseCompletion"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  {{c.courseCompletion}}%
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <br />

    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <span>Your Quizzes</span>
          </div>
          <div class="col-md-2">
            <a href="/quizzes" class="btn btn-secondary btn-sm">View All</a>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let q of myQuizzes">
          <div class="row">
            <div class="col-md-7">
              <p>
                <a href="">{{q.title}}</a> <br />
                <small>Course: <a href="">{{q.course}}</a></small>
              </p>
            </div>
            <div class="col-md-5">
              <div *ngIf="q.isTaken"><span class="tag tag-danger">{{q.grade}}</span> "{{q.level}}"</div>
              <div *ngIf="!q.isTaken"><a class="btn btn-secondary btn-sm">Take the quiz now</a></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <div #chart></div>
      </div>
    </div>

    <br />
    <div class="card">
      <div class="card-header"><span>Billing Center</span> <a href="" class="small">View Details</a></div>
      <div class="card-body">Your Balance: $8798.00</div>
    </div>

    <br />

    <div class="card">
      <div class="card-header"><span>Inbox</span> <a href="" class="small">View Details</a></div>
      <div class="card-body">No new message...</div>
    </div>

    <br />

    <div class="card">
      <div class="card-header"><span>Scholarship Status</span> <a href="" class="small">View Details</a></div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let s of myScholarship">
          <div class="row">
            <div class="col-md-8">
              <a href="#">{{s.title}}</a>
            </div>
            <div class="col-md-4">
              <span class="tag" [class.tag-success]="s.approved" [class.tag-info]="!s.approved">{{s.status}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
